/* General Styles */

/* Colors */
:root {
  --color-dark--1: #010101;
  --red-color_1: #e71313;
  --color-brand--1: #e6781e;
  --color-brand--2: #00ee14;
  --color-white-1: #dfd1d1;
  --gradient-1: linear-gradient(to top left, #811709, #d61334);
  --gradient-2: linear-gradient(to top left, #313850, #002466);
}
html {
  margin: 0;
  border: 0;
  font-size: 62.5%;
  font-family: Bahnschrift;
  background-color: #070606;
  color: #dedede;
}

body {
  height: 100vh;
  overscroll-behavior-y: none;
}

/* Syles */
.app {
  display: flex;
  margin: 1rem;
  height: 100%;
}

.sidebar {
  flex-basis: 45rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.app-logo {
  height: 3.5rem;
  align-self: center;
  margin-bottom: 4rem;
}

.input-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;

  background-color: rgba(76, 0, 255, 0.89);
  padding: 1rem 2rem;
  border-radius: 2%;

  transition: all 0.5s;

  margin: 4rem 0;
}

label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.8rem;
}

input {
  background-color: #070606bd;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border: none;
}

input:focus {
  outline: none;
}

select {
  background-color: #070606bd;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border: none;
}

.form__btn {
  background: var(--color-white-1);
  border: none;
  height: 50%;
  align-self: flex-end;
  transition: all 0.3s;
  font-family: inherit;
  padding: 0.4rem 0;
}

.form__btn:hover {
  background-color: var(--color-dark--1);
  color: #eee;
  cursor: pointer;
}

#map {
  flex: 1;
  height: 100%;
  background-color: orangered;
}

.input-form.hidden {
  transform: translateY(10rem);
  opacity: 0;
  pointer-events: none;
}

/* Workout's list */
.workout-list {
  list-style-type: none;
  padding: 0;
  transition: all 0.3s;
  /* flex-shrink: 0; */
}
.workout {
  display: grid;
  padding: 1rem 1.5rem;
  height: 10rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.workout-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.workout--running {
  background: var(--gradient-1);
  border-left: 5px solid var(--color-brand--2);
}

.workout--cycling {
  background: var(--gradient-2);
  border-left: 5px solid var(--color-white-1);
}

.workout__title {
  font-weight: 700;
  font-size: 2rem;
}

.workout-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout__details {
  font-size: 1.5rem;
}

.workout__icon {
  font-size: 2rem;
}

ion-icon {
  font-size: 2rem;
}

.workout__value {
  font-weight: 600;
}

.workout__unit {
  font-weight: 400;
  opacity: 0.7;
}

/* Styling the pop-ups */
/* Popup width is defined in JS using options */

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
  font-family: 'Bahnschrift';
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.location {
  background-color: var(--color-dark--1);
  color: #ffe;
  border-left: 4px solid var(--red-color_1);
  padding: 0.2rem 0.2rem;
  border-radius: 5px;
  font-family: 'Bahnschrift';
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}
