/* Media queries  */

/* Landing Page */
/* 840px */
/* @media screen and (max-width: 52.5em) {
  .request {
    font-size: 1.5rem;
  }
} */
/* 1100px */
@media screen and (max-width: 68.75em) {
  .menu {
    display: block;
  }

  .sidebar {
    position: absolute;
    width: 60vw;
    transform: translate(100vw);
  }

  .app {
    display: flex;
  }

  #map {
    width: 100vw;
  }

  .workout {
    height: 12rem;
  }
}

/* 700px */
@media screen and (max-width: 43.75em) {
  .workout-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin: 1rem 0 0 0;
    justify-content: center;
  }

  /* .request {
    width: min-content;
  } */
}

/* 550px */
@media screen and (max-width: 34.375em) {
  .sidebar {
    padding-left: 2rem;
    width: 80vw;
    padding-right: 2rem;

    width: 95vw;
  }
}

/* 400px */
@media (max-width: 25em) {
  #time {
    width: 10rem;
  }

  .workout-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin: 1rem 0 0 0;
  }

  .workout {
    height: 15rem;
  }
}
